<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AgentsLeagueReasoningAgents.Demo.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="agent-league-icon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["assessment-scroll.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src=@("https://unpkg.com/@alenaksu/json-viewer@2.1.0/dist/json-viewer.bundle.js")></script>
</body>

</html>
